{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "andahme/cloudformation (v0.0.4) 'bucket' deployment",


  "Parameters": {
    "BucketName": {
      "Type": "String"
    }
  },


  "Resources": {
    "bucket": {
      "Type": "AWS::S3::Bucket",
      "Properties": {
        "BucketName": { "Ref": "BucketName" }
      }
    }
  }
}

